[Desktop Entry]
Encoding=UTF-8
Version=1.0

Name=xpad

GenericName=Sticky Notes
GenericName[de]=SelvklĂŚbende Noter
GenericName[fr]=MĂŠmos Autocollants
GenericName[it]=Note Adesive
GenericName[pl]=karteczki

Comment=Jot down notes for later
Comment[de]=Tag hurtige noter til brug senere
Comment[fr]=Prenez des notes pour plus tard
Comment[it]=Prendi delle note per piĂš tardi
Comment[pl]=Notatki na później

FilePattern=xpad
TryExec=xpad
Exec=xpad
Terminal=false
Icon=xpad.xpm

StartupNotify=true
StartupWMClass=xpad

Type=Application
Categories=Application;TODO;Utility;GTK;

# vi: encoding=utf-8
